html, body, #myChart {
    width:100%;
    height:100%;
  }
body nav {
    background: wheat;
    color: white;
}

.page-body {
    min-height: 300px;
    background: rgb(210, 226, 233) !important;
    padding: 10px 5px;
    border: 1px solid rgb(190, 202, 202);
}

.page-body p {
    font-size: 22px;
}

.poll-card{
    cursor: pointer;
    height: 80px;
    padding: 10px;
}
.card {
    border: 3px solid !important;
}
.poll-card:hover{
    box-shadow: 6px 3px 10px;
    text-decoration: none;
}
.new-poll-form{
    padding: 20px 40px;
}
.footer{
    position: fixed;
    bottom: 10px;
    right: 25px;
}

form{
    max-width: 400px;
}

#piechart{
    width: 100%;
}

svg{
    display: block;
    margin: 0 auto;
}