{{ define "content"}}
<div>
    <div class="recent">
        <h1 class="text-center">ALL POLLS</h1>
        <hr>
        <div class="row text-center">
            <div class="card poll-card col-sm">
                <h3>POLL TITLE</h3>
            </div>
            <div class="card poll-card col-sm">
                <h3>POLL TITLE</h3>
            </div>
            <div class="card poll-card col-sm">
                <h3>POLL TITLE</h3>
            </div>
            <div class="card poll-card col-sm">
                <h3>POLL TITLE</h3>
            </div>
        </div>
    </div>
</div>
{{ end }}