{{ define "content"}}
<div class="mx-5">
    <div>
        <h1 class="text-center">{{ .CurrentPoll.Title }}</h1>
    </div>
    <div class="row justify-content-center">
    {{ if .CurrentUser.CanVote }}
        <div class="col-md mt-5">
            <form action="/current/{{ .CurrentPoll.ID }}/submit_vote" method="POST" id="vote_form">
                <div class="form-group">
                    <select class="form-control mx-1 my-4" name="{{.CurrentPoll.Title}}" onclick="if ( this.value == 'Add new option') addNewOption();" >
                        {{ range  .CurrentPoll.Options }}
                            <option  id="{{ .ID }}" name="option" value="{{ .Name }}">{{ .Name }}</option>
                        {{ end }}
                            <option id="add_option">Add new option</option>
                    </select>
                        <div  class="mx-1 my-4">
                            <input type="text" class="form-control my-2" name="new_option" style="display: none;" id="new_option" placeholder="add new option to this poll">
                            <input onclick="submitVote()" name="" id="" value="submit vote" class="btn btn-success btn-sm btn-block">
                        </div>
                </div>
            </form>
        </div>
        {{ end }}
        <div class="col-md mx-auto">
                <div id="piechart" class="text-center"></div>
        </div>      
    </div>
</div>
<script type="text/javascript">
        var url = window.location.href + "/api/";
        var chartData = [];
        var xhr = new XMLHttpRequest()
        xhr.onreadystatechange = function(){
            if (this.readyState === 4 && this.status === 200){
                var jsonData = JSON.parse(this.response);
                chartData.push(["Task", jsonData.title]);
                for (var i in jsonData.data){
                    chartData.push(jsonData.data[i]);
                }
                console.log(chartData)
            }
        }
        xhr.open("GET", url, true);
        xhr.send();
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
        var data = google.visualization.arrayToDataTable(chartData);

        // Optional; add a title and set the width and height of the chart
        var options = {'title': chartData[0][1], 'width':"100%", 'height':500};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.BarChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
</script>
{{ end }}