{{ define "content"}}
<div>
    <div class="page-body text-center my-5" >
        <h1>VOTING APPLICATION</h1>
        <p class="m-5">
            CREATE A POLL WITH SOME OPTIONS AND YOU AND OTHER PEOPLE CAN VOTE AND SEE THE CURRENT TREND OF THE POLL.
        </p>
        <a href="/new-poll" class="btn btn-info btn-lg">CREATE A NEW POLL</a>
    </div>
    <div class="recent">
        <h1 class="text-center">RECENT POLLS</h1>
        <hr>
        <div class="row text-center mx-auto">
            {{ range $key, $value := .AllPollsIdAndTitles }}
            <div class="col-md-3">
                    <a href="/current/{{ $key }}" class="card poll-card m-1">
                            <h3>{{ $value }}</h3>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}