{{ define "content"}}
<div>
    <div class="page-body text-center my-5" >
        <h1 class="display-3">VOTING APPLICATION</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quas, est laboriosam dolorum quam veritatis at magnam vel autem, amet neque expedita, ad illum excepturi pariatur ipsa. Eum, pariatur molestiae!</p>
        <a href="/new-poll" class="btn btn-info btn-lg">CREATE A NEW POLL</a>
    </div>
    <div class="recent">
        <h1 class="text-center">RECENT POLLS</h1>
        <hr>
        <div class="row text-center">
            {{ range $key, $value := .AllPollsIdAndTitles }}
        
            <div class="card poll-card col-sm">
                <a href="/current/{{ $key }}">
                    <h3>{{ $value }}</h3>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}